.landing-page {
  overflow-x: hidden;

  .lp-nav {
    position: fixed;
    height: 6rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background: linear-gradient(to bottom, $dark, transparent);

    .left-side,
    .right-side {
      display: flex;
      gap: 1rem;
    }

    .lp-nav-link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
      color: $light;
    }
  }

  .spacer {
    height: 100vh;
    width: 100%;
  }
}

