.backoffice {
  aside {
    height: 100vh;
    padding: 0 1rem;
  }

  .right-side{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  nav {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  main {
    background-color: darken($color: $secondary, $amount: 40%);
    border-radius: $border-radius;
    width: calc(100% - 1rem);
    height: calc(100% - ($navbar-height + 1rem));
    padding: 1rem;
    overflow: auto;
  }
}
