.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .logo-icon {
    display: block;
    content: "";
    height: 2rem;
    width: 2rem;
    background: center / contain no-repeat url(./partials/Logo/Logo.svg);
  }

  .logo-text {
    font-weight: bold;
    font-size: 1rem;
    background: linear-gradient(to bottom right, $primary, $warning);
    background-clip: text;
    color: transparent;
  }
}

.logo-container{
  position: absolute;
  top: 1rem;
  left: .1%;
  right: .1%;
  background-color: $dark;
}