.navbar {
  margin-right: 1rem;
  position: relative;
  transition: width 0.3s ease-in-out;

  .form-control {
    background-color: rgba($dark, 0.6);
    border: 1px solid $secondary;

    &::placeholder {
      color: $secondary;
    }
  }
}

.sidebar-toggle {
  position: absolute;
  left: 0;
}

// @media screen and (max-width: $screen-sm) {
//   .navbar {
//     .form-control {
//       width: 25%;
//     }
//   }
// }
