.navbar {
  margin: 0 1rem;
  position: relative;
  transition: width .3s ease-in-out;
  .input-group {
    .form-control {
      background-color: rgba($dark, 0.6);
      border: 1px solid $secondary;

      &::placeholder {
        color: $secondary;
      }
    }
  }
}

.sidebar-toggle {
  position: absolute;
  left: 0;
}
