.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  cursor: pointer;
}

.modal.end {
  align-items: end;
}

.modal.start {
  align-items: start;
}

.modal.sm > .modal-content {
  max-width: rem(600);
}

.modal.md > .modal-content {
  max-width: rem(800);
}

.modal-content {
  background-color: darken($secondary, 35%);
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
