// body {
//   overflow: hidden;
// }

.text-align-center {
  text-align: center;
}

.actions-dropdown {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}

.dropdown-menu{
  margin-top: .5rem;
}