:root {
  --nav-item-width: 8rem;
}

.text-align-center {
  text-align: center;
}

.actions-dropdown {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}

.dropdown-menu {
  margin-top: 0.5rem;
}

.bg-secondary-dark {
  background-color: darken($secondary, 35%);
}

// Assuming Bootstrap variables and mixins are available

// Custom column for extra-small screens
@media screen and (max-width: $screen-sm) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      flex: 0 0 100%;
      width: ($i * 100%) / 12;
    }
  }
}
