$sidebar-width: 10rem;

.sidebar-logo {
  height: $navbar-height;
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: $dark;
  transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-left: 0;
  width: $sidebar-width;

  i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: $screen-sm) {
  .sidebar {
    &.hidden {
      margin-left: $sidebar-width * -1;
    }
  }
}
