.sidebar-logo {
  height: $navbar-height;
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: $dark;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;

  i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: $screen-sm) {
  .sidebar {
    width: 5rem;
    &.hidden {
      margin-left: -4rem;
    }
  }
}
