$white: #f4f4f4;

$primary: #a6bbcc;
$light: $white;
$dark: #211f20;
$secondary: #8798a1;
$success: #65b36e;
$warning: #f1c453;
$danger: #e56d6d;

$body-color: $white;
$body-bg: $dark;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$border-radius: 0.5rem;
$paragraph-margin-bottom: 0;

$dropdown-color: $secondary;
$dropdown-link-color: $secondary;
$dropdown-bg: darken($secondary, 35%);
$navbar-height: 4rem;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2rem) !default;

$display-font-weight: 400 !default;
$variable-prefix: '' !default;
